<div class="page-header">
  <%= link_to clients_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_client_path(@client), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @client.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Corporate name:</dt>
  <dd><%= @client.corporate_name %></dd>

  <dt>Cnpj:</dt>
  <dd><%= @client.cnpj %></dd>

  <dt>Phone:</dt>
  <dd><%= @client.phone %></dd>

  <dt>Address:</dt>
  <dd><%= @client.address %></dd>

  <dt>District:</dt>
  <dd><%= @client.district %></dd>

  <dt>City:</dt>
  <dd><%= @client.city %></dd>

  <dt>Email:</dt>
  <dd><%= @client.email %></dd>

  <dt>Best hours:</dt>
  <dd><%= @client.best_hours %></dd>

  <dt>Delivery hours:</dt>
  <dd><%= @client.delivery_hours %></dd>

  <dt>Receipt:</dt>
  <dd><%= @client.receipt %></dd>

  <dt>Gstreet link:</dt>
  <dd><a target="_blank" href="<%= @client.gstreet_link %>">Abrir no Google Street</a></dd>

  <dt>Latitude/Longitude:</dt>
  <dd><%= "#{@client.lat},#{@client.lng}" %><a target="_blank" href="<%= "https://maps.google.com/?q=#{@client.lat},#{@client.lng}"%>">  <i class="fa fa-external-link" aria-hidden="true"></i> Abrir no Google Maps</a></dd>

  <dt>Parking Local:</dt>
  <dd><%= "#{@client.parking_lat},#{@client.parking_lng}" %><a target="_blank" href="<%= "https://maps.google.com/?q=#{@client.parking_lat},#{@client.parking_lng}" %>">  <i class="fa fa-external-link" aria-hidden="true"></i> Abrir no Google Maps</a></dd>

  <div class="container">
    <dt>Front Picture:</dt>
    <dd class="col-md-4"><img src="<%= url_for(@client.front_picture) if @client.front_picture.attached? %>" alt="..." class="img-thumbnail"></dd>
    <hr class="col-md-12">
    <dt>Delivery Entry:</dt>
    <dd class="col-md-4"><img src="<%= url_for(@client.delivery_entry_picture) if @client.delivery_entry_picture.attached? %>" alt="..." class="img-thumbnail"></dd>
  </div>

  <hr>
  <h4>Contacts</h4>
  <% @client.contacts.each do |contact| %>
    <dt>Name:</dt>
    <dd><%= contact.name %></dd>

    <dt>Role:</dt>
    <dd><%= contact.role %></dd>

    <dt>Phone:</dt>
    <dd><%= contact.phone %></dd>
    <br>
  <% end %>

  <hr>
  <h4>Products</h4>
  <% @client.sales.each do |sale| %>
    <dt>Name:</dt>
    <dd><%= sale.product.name %></dd>

    <dt>Price:</dt>
    <dd><%= sale.price %></dd>

    <dt>Weekly Amount:</dt>
    <dd><%= sale.average_amount %></dd>
    <br>
  <% end %>


</dl>
