<%= simple_form_for(@route_client, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @route_client.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@route_client.errors.count, "error") %> prohibited this route_client from being saved:</h4>

      <ul>
      <% @route_client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :route, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :route, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :client, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :client, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
